@using EntityLayer.Concrete
@model List<Company>
@{
    Layout = null;
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<br />

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Şirket Adı</th>
        <th>Vergi Dairesi</th>
        <th>Vergi Numarası</th>
        <th>Adres</th>
        

    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>@item.CompanyID</td>
    <td>@item.CompanyName</td>
    <td>@item.TaxAdministration</td>
    <td>@item.TaxNumber</td>
    <td>@item.Address</td>
    <td><a href="/Company/DeleteCompany/@item.CompanyID" class="btn btn-danger">Sil</a></td>
    <td><a href="/Company/EditCompany/@item.CompanyID" class="btn btn-success">Güncelle</a></td>

</tr>
    }
</table>
<br />
<a href="/Company/AddCompany" class="btn btn-info">Ekle</a>

